.title{
  align-self: flex-start;
}

.searchBar {
    height: 2vh;
    width: 50vw;
    border-radius: 10px;
    border:1px solid black;
    font-size: 30px;
    padding: 10px;
}

@media only screen and (max-width: 600px) {
.searchBar {
    height: 2vh;
    width: 100%;
    border-radius: 10px;
    border:1px solid black;
    font-size: 30px;
    padding: 10px;
}
}